<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="Production.DbConnection" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationEnvironment" value="production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="elmah.mvc.disableHandler" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="elmah.mvc.requiresAuthentication" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="elmah.mvc.allowedRoles" value="Administrators" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="elmah.mvc.allowedUsers" value="Administrator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="elmah.mvc.route" value="errorlogs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors defaultRedirect="/error"
        mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="404" redirect="/error/404"/>
      <error statusCode="500" redirect="/error/500"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="Replace" defaultResponseMode="Redirect" errorMode="DetailedLocalOnly" xdt:Transform="Replace">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" responseMode="Redirect" path="/error/404" />
      <error statusCode="500" responseMode="Redirect" path="/error/500" />
    </httpErrors>
  </system.webServer>
  <glimpse defaultRuntimePolicy="Off" xdt:Transform="SetAttributes">
  </glimpse>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Production.DbConnection" xdt:Transform="SetAttributes" />
  </elmah>
</configuration>