@model SaG.API.Areas.APIClient.Models.BackLink
<ol class="breadcrumb breadcrumb-methods">
    <li><a href="javascript:void(0);" ng-click="showFormInDashboard('@Model.BackForm')">@Model.BackFormLabel</a></li>
    <li class="active">@Model.CurrentFormLabel</li>
</ol>