@using SaG.API.Areas.APIClient.Models
@Html.Partial("_Breadcrumb", new BackLink { BackForm = "methodlist/a", BackFormLabel = "A Series Commands", CurrentFormLabel = "Open Lock Now (2A)" })
<div ng-controller="openLockNow2A" ng-init="init(initControls)">
    <div class="page-header">
        <h3>Open Lock Now (2A)</h3>
        <p>Generates an operation code to open the lock using the inputs – ATM ID and user ID.  Please note that the touch key ID, lock status and time /date parameters will automatically be filled in by this command.  If a duplicate operation code is discovered, then this command will attempt to generate a new code with new inputs (up to 12 different sets of input).</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="txtAtmId">ATM ID</label>
                <input type="text" class="form-control" id="txtAtmId" placeholder="Enter ATM ID" ng-model="request.AtmId">
            </div>
            <div class="form-group">
                <label for="txtUserId">User ID</label>
                <input type="text" class="form-control" id="txtUserId" placeholder="Enter User ID" ng-model="request.UserId">
            </div>
            <div class="form-group">
                <button id="btnExecute" class="btn btn-primary" ng-click="execute(beforeMethodExecute, methodExecuteSuccess, methodExecuteError)">Execute</button>
                <div id="loader" style="display: none;">
                    <img src="/Content/images/loader.gif" />
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <div class="form-group">
                <label for="txtResult">MESSAGE</label>
                <textarea class="form-control text-result" id="txtResult" ng-model="message" readonly></textarea>
            </div>
            <div class="form-group">
                <label for="txtOperationCode">OPERATION CODE</label>
                <input type="text" class="form-control text-op-code" id="txtOperationCode" readonly ng-model="operationCode">
            </div>
        </div>
    </div>
    @Html.Partial("_RequestDebugForm")
</div>


