@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sargent and Greenleaf Lock Management System.";
} 

@section footer
{
    @Html.Partial("_Footer")
} 

@Html.Partial("_Header")  
<div class="container container-body">
    
</div>


